<app-input 
    [type]="type" 
    [class]="class" 
    [placeholder]="placeholder"
    [model]="searchTitle" 
    (searchType)="checkEvent($event)">
</app-input><br>

<div *ngIf="!loading else notLoaded">
    <table *ngIf="(films | searchPipe: 'title': searchTitle).length > 0 else noData"
        class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Rating</th>
                <th>Genre</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody *ngFor="let f of films | searchPipe: 'title': searchTitle">
            <tr>
                <td>{{f.title}}</td>
                <td>{{f.author}}</td>
                <td>{{f.rating}}</td>
                <td>{{f.genre}}</td>
                <td>
                    <button type="button" class="btn btn-danger" (click)="deleteFilm(f.id)">Delete</button>
                </td>
                <td>
                    <button type="button" class="btn btn-info" (click)="openModal(template, f, 'Edit')" [disabled]="f.rating > 3">Edit</button> 
                </td>
            </tr>
        </tbody>
    </table>
    
    <ng-template #noData>
        No data to display
    </ng-template>
</div>
    
<button type="button" class="btn btn-primary createBtn" (click)="openModal(template, {}, 'Create')">Create new film</button>

<ng-template #template>
    <div class="modal-header">
        <h4>{{modalTitle}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <label>Title:</label>
        <input id="title" class="form-control" [(ngModel)]='newFilm.title'><br>
        <label>Author:</label>
        <input id="author" class="form-control" [(ngModel)]='newFilm.author'><br>
        <label>Rating:</label>
        <div class="form-group">
            <select class="form-control" name="rating" [(ngModel)]='newFilm.rating'> 
                <option *ngFor="let rating of ratings; let i = index" [value]="ratings[i].name">
                    {{ratings[i].name}}
                </option>
            </select>
            <!-- <select class="form-control" name="rating" [(ngModel)]='newFilm.rating'> 
                <option value="1" selected="selected">1</option> 
                <option value="2">2</option> 
                <option value="3">3</option> 
            </select> -->
        </div>
        <label>Genre:</label>
        <div class="form-group">
            <select class="form-control" name="genre" [(ngModel)]='newFilm.genre'> 
                <option *ngFor="let genre of genres; let i = index" [value]="genres[i].name">
                    {{genres[i].name}}
                </option>
            </select>
            <!-- <select class="form-control" name="genre" [(ngModel)]='newFilm.genre'> 
                <option value="comedy">comedy</option> 
                <option value="drama">drama</option> 
                <option value="cartoon">cartoon</option> 
            </select> -->
        </div>
            
        <div *ngIf="modalTitle === 'Edit' else create">
            <button type="button" class="btn btn-light myBtn" (click)="editFilm(newFilm)">
                Edit
            </button>
        </div>
    </div>
</ng-template>

<ng-template #create>
    <button type="button" class="btn btn-light myBtn" (click)="createFilm()">
        Create
    </button>     
</ng-template>
    
<ng-template #notLoaded>
    <div class="spinner">
        <i class="fa fa-spinner fa-pulse"></i>
    </div>
</ng-template>

