.spinner {
    width: 100%;
    display: flex;
    justify-content: center;
}

.myBtn {
    float: right;
}

.createBtn {
    margin: auto;
    display: flex;
    align-items: center;
}

.table {
    width: 90%;
    margin: auto;
}

.noData {
    margin: auto;
    width: 15%;
    margin-bottom: 20px;
}