<app-input 
    [type]="type" 
    [class]="class" 
    [placeholder]="placeholder"
    [model]="searchTitle" 
    (searchType)="checkEvent($event)">
</app-input><br>

<div *ngIf="!loading else notLoaded">
    <table *ngIf="(films | searchPipe: 'title': searchTitle).length > 0 else noData"
        class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Rating</th>
                <th>Genre</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody *ngFor="let f of films | searchPipe: 'title': searchTitle">
            <tr>
                <td>{{f.title}}</td>
                <td>{{f.author}}</td>
                <td>{{f.rating}}</td>
                <td>{{f.genre}}</td>
                <td>
                    <button type="button" class="btn btn-danger" (click)="deleteFilm(f.id)">Delete</button>
                </td>
                <td>
                    <button type="button" class="btn btn-info" (click)="openModal(template, f, 'Edit')" [disabled]="f.rating > 3">Edit</button> 
                </td>
            </tr>
        </tbody>
    </table>
    
    <ng-template #noData>
        <div class="noData">
            No data to display
        </div>    
    </ng-template>
</div>
    
<button type="button" class="btn btn-primary createBtn" (click)="openModal(template, {}, 'Create')">Create new film</button>

<ng-template #template>
    <div class="modal-header">
        <h4>{{modalTitle}}</h4>
        <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button> -->
    </div>

    <div class="modal-body">
        <form [formGroup]="form">
        <label>Title:</label>
        <div class="form-group">
            <input [class.is-invalid]="form.get('title').invalid && form.get('title').touched" 
                formControlName="title"
                class="form-control" 
                [(ngModel)]='newFilm.title'>
            <small [class.d-none]="form.get('title').valid || form.get('title').untouched" 
                class="text-danger">
                Title is required
            </small>
        </div>

        <label>Author:</label>
        <div class="form-group">
            <input [class.is-invalid]="form.get('author').invalid && form.get('author').touched"
                formControlName="author"
                class="form-control" 
                [(ngModel)]='newFilm.author'>
            <small [class.d-none]="form.get('author').valid || form.get('author').untouched" 
                class="text-danger">
                Author is required
            </small>
        </div>

        <label>Rating:</label>
        <div class="form-group">
            <select [class.is-invalid]="form.get('rating').invalid && form.get('rating').touched"
                formControlName="rating"
                class="form-control" 
                name="rating" 
                [(ngModel)]='newFilm.rating'> 
                <option *ngFor="let rating of ratings; let i = index" [value]="ratings[i].name">
                    {{ratings[i].name}}
                </option>
            </select>
            <small [class.d-none]="form.get('rating').valid || form.get('rating').untouched" 
                class="text-danger">
                Rating is required
            </small>
        </div>

        <label>Genre:</label>
        <div class="form-group">
            <select [class.is-invalid]="form.get('genre').invalid && form.get('genre').touched"
                formControlName="genre"
                class="form-control" 
                name="genre" 
                [(ngModel)]='newFilm.genre'> 
                <option *ngFor="let genre of genres; let i = index" [value]="genres[i].name">
                    {{genres[i].name}}
                </option>
            </select>
            <small [class.d-none]="form.get('genre').valid || form.get('genre').untouched" 
                class="text-danger">
                Genre is required
            </small>
        </div>
            
        <div *ngIf="modalTitle === 'Edit' else create">
            <button [disabled]="!form.valid" type="button" class="btn btn-light myBtn" (click)="editFilm(newFilm)">
                Edit
            </button>
        </div>
    </form>
    </div>
</ng-template>

<ng-template #create>
    <button [disabled]="!form.valid" type="button" class="btn btn-light myBtn" (click)="createFilm()">
        Create
    </button>     
</ng-template>
    
<ng-template #notLoaded>
    <div class="spinner">
        <i class="fa fa-spinner fa-pulse"></i>
    </div>
</ng-template>