<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 my-2" *ngFor="let f of userFilms; let i = index">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{f.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <b>{{randomize(i) + ' Of 10'}}</b>
                    </h6>
                    <p class="card-text">
                        {{f.producer}} <br>
                        {{f.director}} <br><br>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe veritatis necessitatibus ducimus inventore.
                    </p>
                </div>
                <div class="card-footer">
                        <a href="#" class="card-link">Film link</a>

                        <label for="star" class="star-label">
                            <input type="checkbox" id="star" class="star-check" checked> 
                        </label>
                </div>
            </div>
        </div> 
    </div>
</div>